--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13
-- Dumped by pg_dump version 15.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: timescaledb; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS timescaledb WITH SCHEMA public;


--
-- Name: EXTENSION timescaledb; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION timescaledb IS 'Enables scalable inserts and complex queries for time-series data (Community Edition)';


--
-- Name: get_sla_for_order(text, timestamp with time zone); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.get_sla_for_order(p_order_type text, p_order_ts timestamp with time zone) RETURNS TABLE(pick_sla_minutes integer, stage_sla_minutes integer, stage_complete_sla_minutes integer, pack_sla_minutes integer, ship_sla_minutes integer)
    LANGUAGE plpgsql STABLE
    AS $$
DECLARE
  cfg RECORD;
  rule JSONB;
  hour_cutoff INT;
  order_hour INT;
BEGIN
  SELECT * INTO cfg FROM sla_config WHERE order_type = p_order_type;
  IF NOT FOUND THEN
    RETURN; -- no SLA found
  END IF;

  -- default to stored values (act as fallback)
  pick_sla_minutes := cfg.pick_sla_minutes;
  stage_sla_minutes := cfg.stage_sla_minutes;
  stage_complete_sla_minutes := cfg.stage_complete_sla_minutes;
  pack_sla_minutes := cfg.pack_sla_minutes;
  ship_sla_minutes := cfg.ship_sla_minutes;

  rule := cfg.rules;
  IF rule IS NOT NULL AND jsonb_typeof(rule) = 'object' THEN
    -- Example rule: time-of-day cutoff for Rock Auto
    IF rule ? 'order_time_before_hour' THEN
      hour_cutoff := (rule ->> 'order_time_before_hour')::INT;  -- e.g., 13 for 1 PM
      order_hour := EXTRACT(HOUR FROM p_order_ts)::INT;
      IF order_hour < hour_cutoff THEN
        IF rule ? 'then' THEN
          pick_sla_minutes := COALESCE((rule->'then'->>'pick')::INT, pick_sla_minutes);
          stage_sla_minutes := COALESCE((rule->'then'->>'stage')::INT, stage_sla_minutes);
        END IF;
      ELSE
        IF rule ? 'else' THEN
          pick_sla_minutes := COALESCE((rule->'else'->>'pick')::INT, pick_sla_minutes);
          stage_sla_minutes := COALESCE((rule->'else'->>'stage')::INT, stage_sla_minutes);
        END IF;
      END IF;
    END IF;
  END IF;

  RETURN NEXT;
END;
$$;


--
-- Name: refresh_all_sla_materialized_views(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.refresh_all_sla_materialized_views() RETURNS text
    LANGUAGE plpgsql
    AS $$
BEGIN
    REFRESH MATERIALIZED VIEW CONCURRENTLY current_sla_summary;
    REFRESH MATERIALIZED VIEW CONCURRENTLY delayed_orders_detail;
    RETURN 'Successfully refreshed: current_sla_summary, delayed_orders_detail';
END;
$$;


--
-- Name: FUNCTION refresh_all_sla_materialized_views(); Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON FUNCTION public.refresh_all_sla_materialized_views() IS 'Manually refresh all regular materialized views. Continuous aggregates refresh automatically.';


--
-- Name: set_event_date(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.set_event_date() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.event_date := COALESCE(
        NEW.ship_date,
        NEW.pack_complete_date,
        NEW.stage_complete_date,
        NEW.pick_complete_date,
        NEW.order_date,
        now()
    );
    RETURN NEW;
END;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: order_status_history; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.order_status_history (
    id bigint NOT NULL,
    entered_date timestamp with time zone NOT NULL,
    order_id bigint NOT NULL,
    order_line_id bigint,
    status text,
    completed_date timestamp with time zone,
    duration_seconds integer,
    sla_target_minutes integer,
    sla_met boolean,
    worker_id bigint,
    notes text,
    meta jsonb DEFAULT '{}'::jsonb,
    order_type_id integer
);


--
-- Name: _direct_view_8; Type: VIEW; Schema: _timescaledb_internal; Owner: -
--

CREATE VIEW _timescaledb_internal._direct_view_8 AS
 SELECT public.time_bucket('00:05:00'::interval, order_status_history.entered_date) AS bucket,
    order_status_history.status,
    order_status_history.order_type_id,
        CASE
            WHEN (order_status_history.duration_seconds >= (order_status_history.sla_target_minutes * 60)) THEN 'Delayed'::text
            WHEN ((order_status_history.duration_seconds)::numeric > (((order_status_history.sla_target_minutes * 60))::numeric * 0.25)) THEN 'Moving Slow'::text
            ELSE 'SLA Met'::text
        END AS sla_status,
    count(*) AS order_count,
    avg(order_status_history.duration_seconds) AS avg_duration_seconds,
    max(order_status_history.duration_seconds) AS max_duration_seconds,
    min(order_status_history.duration_seconds) AS min_duration_seconds,
    sum(
        CASE
            WHEN order_status_history.sla_met THEN 1
            ELSE 0
        END) AS sla_met_count,
    sum(
        CASE
            WHEN (NOT order_status_history.sla_met) THEN 1
            ELSE 0
        END) AS sla_breach_count
   FROM public.order_status_history
  GROUP BY (public.time_bucket('00:05:00'::interval, order_status_history.entered_date)), order_status_history.status, order_status_history.order_type_id,
        CASE
            WHEN (order_status_history.duration_seconds >= (order_status_history.sla_target_minutes * 60)) THEN 'Delayed'::text
            WHEN ((order_status_history.duration_seconds)::numeric > (((order_status_history.sla_target_minutes * 60))::numeric * 0.25)) THEN 'Moving Slow'::text
            ELSE 'SLA Met'::text
        END;


--
-- Name: _direct_view_9; Type: VIEW; Schema: _timescaledb_internal; Owner: -
--

CREATE VIEW _timescaledb_internal._direct_view_9 AS
 SELECT public.time_bucket('01:00:00'::interval, order_status_history.entered_date) AS hour,
    order_status_history.status,
    order_status_history.order_type_id,
        CASE
            WHEN (order_status_history.duration_seconds >= (order_status_history.sla_target_minutes * 60)) THEN 'Delayed'::text
            WHEN ((order_status_history.duration_seconds)::numeric > (((order_status_history.sla_target_minutes * 60))::numeric * 0.25)) THEN 'Moving Slow'::text
            ELSE 'SLA Met'::text
        END AS sla_status,
    count(*) AS order_count,
    avg(order_status_history.duration_seconds) AS avg_duration_seconds,
    percentile_cont((0.5)::double precision) WITHIN GROUP (ORDER BY ((order_status_history.duration_seconds)::double precision)) AS median_duration_seconds,
    percentile_cont((0.95)::double precision) WITHIN GROUP (ORDER BY ((order_status_history.duration_seconds)::double precision)) AS p95_duration_seconds,
    percentile_cont((0.99)::double precision) WITHIN GROUP (ORDER BY ((order_status_history.duration_seconds)::double precision)) AS p99_duration_seconds,
    stddev(order_status_history.duration_seconds) AS stddev_duration_seconds,
    sum(
        CASE
            WHEN order_status_history.sla_met THEN 1
            ELSE 0
        END) AS sla_met_count,
    sum(
        CASE
            WHEN (NOT order_status_history.sla_met) THEN 1
            ELSE 0
        END) AS sla_breach_count,
    round(((100.0 * (sum(
        CASE
            WHEN order_status_history.sla_met THEN 1
            ELSE 0
        END))::numeric) / (count(*))::numeric), 2) AS sla_compliance_pct
   FROM public.order_status_history
  GROUP BY (public.time_bucket('01:00:00'::interval, order_status_history.entered_date)), order_status_history.status, order_status_history.order_type_id,
        CASE
            WHEN (order_status_history.duration_seconds >= (order_status_history.sla_target_minutes * 60)) THEN 'Delayed'::text
            WHEN ((order_status_history.duration_seconds)::numeric > (((order_status_history.sla_target_minutes * 60))::numeric * 0.25)) THEN 'Moving Slow'::text
            ELSE 'SLA Met'::text
        END;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.orders (
    order_id bigint NOT NULL,
    created_date timestamp with time zone NOT NULL,
    customer_id bigint,
    order_type text,
    branch text,
    priority integer,
    total_lines integer,
    target_ship_date timestamp with time zone,
    actual_ship_date timestamp with time zone,
    current_status text,
    order_type_id integer
);


--
-- Name: _hyper_4_11_chunk; Type: TABLE; Schema: _timescaledb_internal; Owner: -
--

CREATE TABLE _timescaledb_internal._hyper_4_11_chunk (
    CONSTRAINT constraint_11 CHECK (((created_date >= '2025-11-06 00:00:00+00'::timestamp with time zone) AND (created_date < '2025-11-13 00:00:00+00'::timestamp with time zone)))
)
INHERITS (public.orders);


--
-- Name: _hyper_4_16_chunk; Type: TABLE; Schema: _timescaledb_internal; Owner: -
--

CREATE TABLE _timescaledb_internal._hyper_4_16_chunk (
    CONSTRAINT constraint_16 CHECK (((created_date >= '2025-11-27 00:00:00+00'::timestamp with time zone) AND (created_date < '2025-12-04 00:00:00+00'::timestamp with time zone)))
)
INHERITS (public.orders);


--
-- Name: _hyper_4_1_chunk; Type: TABLE; Schema: _timescaledb_internal; Owner: -
--

CREATE TABLE _timescaledb_internal._hyper_4_1_chunk (
    CONSTRAINT constraint_1 CHECK (((created_date >= '2025-11-20 00:00:00+00'::timestamp with time zone) AND (created_date < '2025-11-27 00:00:00+00'::timestamp with time zone)))
)
INHERITS (public.orders);


--
-- Name: _hyper_4_8_chunk; Type: TABLE; Schema: _timescaledb_internal; Owner: -
--

CREATE TABLE _timescaledb_internal._hyper_4_8_chunk (
    CONSTRAINT constraint_8 CHECK (((created_date >= '2025-11-13 00:00:00+00'::timestamp with time zone) AND (created_date < '2025-11-20 00:00:00+00'::timestamp with time zone)))
)
INHERITS (public.orders);


--
-- Name: order_lines; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.order_lines (
    id bigint NOT NULL,
    event_date timestamp with time zone NOT NULL,
    order_id bigint NOT NULL,
    order_number text,
    order_type text,
    location text,
    order_date timestamp with time zone,
    pick_start_date timestamp with time zone,
    pick_complete_date timestamp with time zone,
    stage_start_date timestamp with time zone,
    stage_complete_date timestamp with time zone,
    pack_start_date timestamp with time zone,
    pack_complete_date timestamp with time zone,
    ship_date timestamp with time zone,
    invoice_date timestamp with time zone,
    status text,
    order_type_id integer
);


--
-- Name: _hyper_5_12_chunk; Type: TABLE; Schema: _timescaledb_internal; Owner: -
--

CREATE TABLE _timescaledb_internal._hyper_5_12_chunk (
    CONSTRAINT constraint_12 CHECK (((event_date >= '2025-11-13 00:00:00+00'::timestamp with time zone) AND (event_date < '2025-11-20 00:00:00+00'::timestamp with time zone)))
)
INHERITS (public.order_lines);


--
-- Name: _hyper_5_15_chunk; Type: TABLE; Schema: _timescaledb_internal; Owner: -
--

CREATE TABLE _timescaledb_internal._hyper_5_15_chunk (
    CONSTRAINT constraint_15 CHECK (((event_date >= '2025-11-06 00:00:00+00'::timestamp with time zone) AND (event_date < '2025-11-13 00:00:00+00'::timestamp with time zone)))
)
INHERITS (public.order_lines);


--
-- Name: _hyper_5_17_chunk; Type: TABLE; Schema: _timescaledb_internal; Owner: -
--

CREATE TABLE _timescaledb_internal._hyper_5_17_chunk (
    CONSTRAINT constraint_17 CHECK (((event_date >= '2025-12-04 00:00:00+00'::timestamp with time zone) AND (event_date < '2025-12-11 00:00:00+00'::timestamp with time zone)))
)
INHERITS (public.order_lines);


--
-- Name: _hyper_5_2_chunk; Type: TABLE; Schema: _timescaledb_internal; Owner: -
--

CREATE TABLE _timescaledb_internal._hyper_5_2_chunk (
    CONSTRAINT constraint_2 CHECK (((event_date >= '2025-11-20 00:00:00+00'::timestamp with time zone) AND (event_date < '2025-11-27 00:00:00+00'::timestamp with time zone)))
)
INHERITS (public.order_lines);


--
-- Name: _hyper_5_5_chunk; Type: TABLE; Schema: _timescaledb_internal; Owner: -
--

CREATE TABLE _timescaledb_internal._hyper_5_5_chunk (
    CONSTRAINT constraint_5 CHECK (((event_date >= '2025-11-27 00:00:00+00'::timestamp with time zone) AND (event_date < '2025-12-04 00:00:00+00'::timestamp with time zone)))
)
INHERITS (public.order_lines);


--
-- Name: _hyper_6_13_chunk; Type: TABLE; Schema: _timescaledb_internal; Owner: -
--

CREATE TABLE _timescaledb_internal._hyper_6_13_chunk (
    CONSTRAINT constraint_13 CHECK (((entered_date >= '2025-11-06 00:00:00+00'::timestamp with time zone) AND (entered_date < '2025-11-13 00:00:00+00'::timestamp with time zone)))
)
INHERITS (public.order_status_history);


--
-- Name: _hyper_6_3_chunk; Type: TABLE; Schema: _timescaledb_internal; Owner: -
--

CREATE TABLE _timescaledb_internal._hyper_6_3_chunk (
    CONSTRAINT constraint_3 CHECK (((entered_date >= '2025-11-20 00:00:00+00'::timestamp with time zone) AND (entered_date < '2025-11-27 00:00:00+00'::timestamp with time zone)))
)
INHERITS (public.order_status_history);


--
-- Name: _hyper_6_7_chunk; Type: TABLE; Schema: _timescaledb_internal; Owner: -
--

CREATE TABLE _timescaledb_internal._hyper_6_7_chunk (
    CONSTRAINT constraint_7 CHECK (((entered_date >= '2025-11-27 00:00:00+00'::timestamp with time zone) AND (entered_date < '2025-12-04 00:00:00+00'::timestamp with time zone)))
)
INHERITS (public.order_status_history);


--
-- Name: _hyper_6_9_chunk; Type: TABLE; Schema: _timescaledb_internal; Owner: -
--

CREATE TABLE _timescaledb_internal._hyper_6_9_chunk (
    CONSTRAINT constraint_9 CHECK (((entered_date >= '2025-11-13 00:00:00+00'::timestamp with time zone) AND (entered_date < '2025-11-20 00:00:00+00'::timestamp with time zone)))
)
INHERITS (public.order_status_history);


--
-- Name: sla_events; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sla_events (
    id bigint NOT NULL,
    detected_date timestamp with time zone DEFAULT now() NOT NULL,
    order_id bigint NOT NULL,
    order_line_id bigint,
    stage text,
    duration_seconds integer,
    sla_target_minutes integer,
    sla_met boolean,
    breach boolean,
    details jsonb DEFAULT '{}'::jsonb
);


--
-- Name: _hyper_7_10_chunk; Type: TABLE; Schema: _timescaledb_internal; Owner: -
--

CREATE TABLE _timescaledb_internal._hyper_7_10_chunk (
    CONSTRAINT constraint_10 CHECK (((detected_date >= '2025-11-13 00:00:00+00'::timestamp with time zone) AND (detected_date < '2025-11-20 00:00:00+00'::timestamp with time zone)))
)
INHERITS (public.sla_events);


--
-- Name: _hyper_7_14_chunk; Type: TABLE; Schema: _timescaledb_internal; Owner: -
--

CREATE TABLE _timescaledb_internal._hyper_7_14_chunk (
    CONSTRAINT constraint_14 CHECK (((detected_date >= '2025-11-06 00:00:00+00'::timestamp with time zone) AND (detected_date < '2025-11-13 00:00:00+00'::timestamp with time zone)))
)
INHERITS (public.sla_events);


--
-- Name: _hyper_7_4_chunk; Type: TABLE; Schema: _timescaledb_internal; Owner: -
--

CREATE TABLE _timescaledb_internal._hyper_7_4_chunk (
    CONSTRAINT constraint_4 CHECK (((detected_date >= '2025-11-20 00:00:00+00'::timestamp with time zone) AND (detected_date < '2025-11-27 00:00:00+00'::timestamp with time zone)))
)
INHERITS (public.sla_events);


--
-- Name: _hyper_7_6_chunk; Type: TABLE; Schema: _timescaledb_internal; Owner: -
--

CREATE TABLE _timescaledb_internal._hyper_7_6_chunk (
    CONSTRAINT constraint_6 CHECK (((detected_date >= '2025-11-27 00:00:00+00'::timestamp with time zone) AND (detected_date < '2025-12-04 00:00:00+00'::timestamp with time zone)))
)
INHERITS (public.sla_events);


--
-- Name: _materialized_hypertable_8; Type: TABLE; Schema: _timescaledb_internal; Owner: -
--

CREATE TABLE _timescaledb_internal._materialized_hypertable_8 (
    bucket timestamp with time zone NOT NULL,
    status text,
    order_type_id integer,
    sla_status text,
    order_count bigint,
    avg_duration_seconds numeric,
    max_duration_seconds integer,
    min_duration_seconds integer,
    sla_met_count bigint,
    sla_breach_count bigint
);


--
-- Name: _hyper_8_18_chunk; Type: TABLE; Schema: _timescaledb_internal; Owner: -
--

CREATE TABLE _timescaledb_internal._hyper_8_18_chunk (
    CONSTRAINT constraint_18 CHECK (((bucket >= '2025-10-09 00:00:00+00'::timestamp with time zone) AND (bucket < '2025-12-18 00:00:00+00'::timestamp with time zone)))
)
INHERITS (_timescaledb_internal._materialized_hypertable_8);


--
-- Name: _materialized_hypertable_9; Type: TABLE; Schema: _timescaledb_internal; Owner: -
--

CREATE TABLE _timescaledb_internal._materialized_hypertable_9 (
    hour timestamp with time zone NOT NULL,
    status text,
    order_type_id integer,
    sla_status text,
    order_count bigint,
    avg_duration_seconds numeric,
    median_duration_seconds double precision,
    p95_duration_seconds double precision,
    p99_duration_seconds double precision,
    stddev_duration_seconds numeric,
    sla_met_count bigint,
    sla_breach_count bigint,
    sla_compliance_pct numeric
);


--
-- Name: _hyper_9_19_chunk; Type: TABLE; Schema: _timescaledb_internal; Owner: -
--

CREATE TABLE _timescaledb_internal._hyper_9_19_chunk (
    CONSTRAINT constraint_19 CHECK (((hour >= '2025-10-09 00:00:00+00'::timestamp with time zone) AND (hour < '2025-12-18 00:00:00+00'::timestamp with time zone)))
)
INHERITS (_timescaledb_internal._materialized_hypertable_9);


--
-- Name: _partial_view_8; Type: VIEW; Schema: _timescaledb_internal; Owner: -
--

CREATE VIEW _timescaledb_internal._partial_view_8 AS
 SELECT public.time_bucket('00:05:00'::interval, order_status_history.entered_date) AS bucket,
    order_status_history.status,
    order_status_history.order_type_id,
        CASE
            WHEN (order_status_history.duration_seconds >= (order_status_history.sla_target_minutes * 60)) THEN 'Delayed'::text
            WHEN ((order_status_history.duration_seconds)::numeric > (((order_status_history.sla_target_minutes * 60))::numeric * 0.25)) THEN 'Moving Slow'::text
            ELSE 'SLA Met'::text
        END AS sla_status,
    count(*) AS order_count,
    avg(order_status_history.duration_seconds) AS avg_duration_seconds,
    max(order_status_history.duration_seconds) AS max_duration_seconds,
    min(order_status_history.duration_seconds) AS min_duration_seconds,
    sum(
        CASE
            WHEN order_status_history.sla_met THEN 1
            ELSE 0
        END) AS sla_met_count,
    sum(
        CASE
            WHEN (NOT order_status_history.sla_met) THEN 1
            ELSE 0
        END) AS sla_breach_count
   FROM public.order_status_history
  GROUP BY (public.time_bucket('00:05:00'::interval, order_status_history.entered_date)), order_status_history.status, order_status_history.order_type_id,
        CASE
            WHEN (order_status_history.duration_seconds >= (order_status_history.sla_target_minutes * 60)) THEN 'Delayed'::text
            WHEN ((order_status_history.duration_seconds)::numeric > (((order_status_history.sla_target_minutes * 60))::numeric * 0.25)) THEN 'Moving Slow'::text
            ELSE 'SLA Met'::text
        END;


--
-- Name: _partial_view_9; Type: VIEW; Schema: _timescaledb_internal; Owner: -
--

CREATE VIEW _timescaledb_internal._partial_view_9 AS
 SELECT public.time_bucket('01:00:00'::interval, order_status_history.entered_date) AS hour,
    order_status_history.status,
    order_status_history.order_type_id,
        CASE
            WHEN (order_status_history.duration_seconds >= (order_status_history.sla_target_minutes * 60)) THEN 'Delayed'::text
            WHEN ((order_status_history.duration_seconds)::numeric > (((order_status_history.sla_target_minutes * 60))::numeric * 0.25)) THEN 'Moving Slow'::text
            ELSE 'SLA Met'::text
        END AS sla_status,
    count(*) AS order_count,
    avg(order_status_history.duration_seconds) AS avg_duration_seconds,
    percentile_cont((0.5)::double precision) WITHIN GROUP (ORDER BY ((order_status_history.duration_seconds)::double precision)) AS median_duration_seconds,
    percentile_cont((0.95)::double precision) WITHIN GROUP (ORDER BY ((order_status_history.duration_seconds)::double precision)) AS p95_duration_seconds,
    percentile_cont((0.99)::double precision) WITHIN GROUP (ORDER BY ((order_status_history.duration_seconds)::double precision)) AS p99_duration_seconds,
    stddev(order_status_history.duration_seconds) AS stddev_duration_seconds,
    sum(
        CASE
            WHEN order_status_history.sla_met THEN 1
            ELSE 0
        END) AS sla_met_count,
    sum(
        CASE
            WHEN (NOT order_status_history.sla_met) THEN 1
            ELSE 0
        END) AS sla_breach_count,
    round(((100.0 * (sum(
        CASE
            WHEN order_status_history.sla_met THEN 1
            ELSE 0
        END))::numeric) / (count(*))::numeric), 2) AS sla_compliance_pct
   FROM public.order_status_history
  GROUP BY (public.time_bucket('01:00:00'::interval, order_status_history.entered_date)), order_status_history.status, order_status_history.order_type_id,
        CASE
            WHEN (order_status_history.duration_seconds >= (order_status_history.sla_target_minutes * 60)) THEN 'Delayed'::text
            WHEN ((order_status_history.duration_seconds)::numeric > (((order_status_history.sla_target_minutes * 60))::numeric * 0.25)) THEN 'Moving Slow'::text
            ELSE 'SLA Met'::text
        END;


--
-- Name: order_type_master; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.order_type_master (
    id integer NOT NULL,
    name text NOT NULL,
    description text,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: current_sla_summary; Type: MATERIALIZED VIEW; Schema: public; Owner: -
--

CREATE MATERIALIZED VIEW public.current_sla_summary AS
 SELECT otm.name AS order_type,
    osh.status,
        CASE
            WHEN (osh.duration_seconds >= (osh.sla_target_minutes * 60)) THEN 'Delayed'::text
            WHEN ((osh.duration_seconds)::numeric > (((osh.sla_target_minutes * 60))::numeric * 0.25)) THEN 'Moving Slow'::text
            ELSE 'SLA Met'::text
        END AS sla_status,
    count(*) AS order_count,
    count(DISTINCT osh.order_id) AS unique_orders,
    avg(osh.duration_seconds) AS avg_duration_seconds,
    avg(osh.sla_target_minutes) AS avg_target_minutes,
    avg(((osh.sla_target_minutes)::numeric - ((osh.duration_seconds)::numeric / 60.0))) AS avg_time_remaining_minutes,
    min(((osh.sla_target_minutes)::numeric - ((osh.duration_seconds)::numeric / 60.0))) AS min_time_remaining_minutes,
    max(osh.entered_date) AS last_updated
   FROM (public.order_status_history osh
     LEFT JOIN public.order_type_master otm ON ((osh.order_type_id = otm.id)))
  WHERE (osh.entered_date >= (now() - '7 days'::interval))
  GROUP BY otm.name, osh.status,
        CASE
            WHEN (osh.duration_seconds >= (osh.sla_target_minutes * 60)) THEN 'Delayed'::text
            WHEN ((osh.duration_seconds)::numeric > (((osh.sla_target_minutes * 60))::numeric * 0.25)) THEN 'Moving Slow'::text
            ELSE 'SLA Met'::text
        END
  WITH NO DATA;


--
-- Name: delayed_orders_detail; Type: MATERIALIZED VIEW; Schema: public; Owner: -
--

CREATE MATERIALIZED VIEW public.delayed_orders_detail AS
 SELECT osh.id,
    osh.entered_date,
    osh.order_id,
    osh.order_line_id,
    otm.name AS order_type,
    osh.status,
    osh.completed_date,
    osh.duration_seconds,
    osh.sla_target_minutes,
    osh.sla_met,
    round((((osh.duration_seconds)::numeric / 60.0) - (osh.sla_target_minutes)::numeric), 2) AS minutes_over_sla,
    round(((100.0 * ((osh.duration_seconds)::numeric / 60.0)) / (osh.sla_target_minutes)::numeric), 2) AS pct_of_sla_target,
        CASE
            WHEN (osh.duration_seconds >= ((osh.sla_target_minutes * 60) * 2)) THEN 'Critical'::text
            WHEN ((osh.duration_seconds)::numeric >= (((osh.sla_target_minutes * 60))::numeric * 1.5)) THEN 'High'::text
            WHEN (osh.duration_seconds >= (osh.sla_target_minutes * 60)) THEN 'Medium'::text
            ELSE 'Low'::text
        END AS priority
   FROM (public.order_status_history osh
     LEFT JOIN public.order_type_master otm ON ((osh.order_type_id = otm.id)))
  WHERE ((osh.duration_seconds >= (osh.sla_target_minutes * 60)) AND (osh.entered_date >= (now() - '7 days'::interval)))
  ORDER BY osh.duration_seconds DESC
  WITH NO DATA;


--
-- Name: MATERIALIZED VIEW delayed_orders_detail; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON MATERIALIZED VIEW public.delayed_orders_detail IS 'Pre-filtered view of delayed orders (SLA breached) for last 7 days with priority scoring.';


--
-- Name: location_master; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.location_master (
    location_id bigint NOT NULL,
    location_code text,
    location_name text,
    location_type text,
    area text,
    warehouse_code text,
    capacity_units integer,
    is_active boolean DEFAULT true,
    created_date timestamp with time zone DEFAULT now(),
    updated_date timestamp with time zone DEFAULT now()
);


--
-- Name: location_master_location_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.location_master_location_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: location_master_location_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.location_master_location_id_seq OWNED BY public.location_master.location_id;


--
-- Name: order_type_master_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.order_type_master_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: order_type_master_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.order_type_master_id_seq OWNED BY public.order_type_master.id;


--
-- Name: sla_config; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sla_config (
    order_type text NOT NULL,
    pick_sla_minutes integer,
    stage_sla_minutes integer,
    stage_complete_sla_minutes integer,
    pack_sla_minutes integer,
    ship_sla_minutes integer,
    rules jsonb DEFAULT '{}'::jsonb,
    order_type_id integer
);


--
-- Name: sla_status_5min_agg; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.sla_status_5min_agg AS
 SELECT _materialized_hypertable_8.bucket,
    _materialized_hypertable_8.status,
    _materialized_hypertable_8.order_type_id,
    _materialized_hypertable_8.sla_status,
    _materialized_hypertable_8.order_count,
    _materialized_hypertable_8.avg_duration_seconds,
    _materialized_hypertable_8.max_duration_seconds,
    _materialized_hypertable_8.min_duration_seconds,
    _materialized_hypertable_8.sla_met_count,
    _materialized_hypertable_8.sla_breach_count
   FROM _timescaledb_internal._materialized_hypertable_8;


--
-- Name: sla_status_hourly_agg; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.sla_status_hourly_agg AS
 SELECT _materialized_hypertable_9.hour,
    _materialized_hypertable_9.status,
    _materialized_hypertable_9.order_type_id,
    _materialized_hypertable_9.sla_status,
    _materialized_hypertable_9.order_count,
    _materialized_hypertable_9.avg_duration_seconds,
    _materialized_hypertable_9.median_duration_seconds,
    _materialized_hypertable_9.p95_duration_seconds,
    _materialized_hypertable_9.p99_duration_seconds,
    _materialized_hypertable_9.stddev_duration_seconds,
    _materialized_hypertable_9.sla_met_count,
    _materialized_hypertable_9.sla_breach_count,
    _materialized_hypertable_9.sla_compliance_pct
   FROM _timescaledb_internal._materialized_hypertable_9;


--
-- Name: _hyper_6_13_chunk meta; Type: DEFAULT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_6_13_chunk ALTER COLUMN meta SET DEFAULT '{}'::jsonb;


--
-- Name: _hyper_6_3_chunk meta; Type: DEFAULT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_6_3_chunk ALTER COLUMN meta SET DEFAULT '{}'::jsonb;


--
-- Name: _hyper_6_7_chunk meta; Type: DEFAULT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_6_7_chunk ALTER COLUMN meta SET DEFAULT '{}'::jsonb;


--
-- Name: _hyper_6_9_chunk meta; Type: DEFAULT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_6_9_chunk ALTER COLUMN meta SET DEFAULT '{}'::jsonb;


--
-- Name: _hyper_7_10_chunk detected_date; Type: DEFAULT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_7_10_chunk ALTER COLUMN detected_date SET DEFAULT now();


--
-- Name: _hyper_7_10_chunk details; Type: DEFAULT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_7_10_chunk ALTER COLUMN details SET DEFAULT '{}'::jsonb;


--
-- Name: _hyper_7_14_chunk detected_date; Type: DEFAULT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_7_14_chunk ALTER COLUMN detected_date SET DEFAULT now();


--
-- Name: _hyper_7_14_chunk details; Type: DEFAULT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_7_14_chunk ALTER COLUMN details SET DEFAULT '{}'::jsonb;


--
-- Name: _hyper_7_4_chunk detected_date; Type: DEFAULT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_7_4_chunk ALTER COLUMN detected_date SET DEFAULT now();


--
-- Name: _hyper_7_4_chunk details; Type: DEFAULT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_7_4_chunk ALTER COLUMN details SET DEFAULT '{}'::jsonb;


--
-- Name: _hyper_7_6_chunk detected_date; Type: DEFAULT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_7_6_chunk ALTER COLUMN detected_date SET DEFAULT now();


--
-- Name: _hyper_7_6_chunk details; Type: DEFAULT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_7_6_chunk ALTER COLUMN details SET DEFAULT '{}'::jsonb;


--
-- Name: location_master location_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.location_master ALTER COLUMN location_id SET DEFAULT nextval('public.location_master_location_id_seq'::regclass);


--
-- Name: order_type_master id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_type_master ALTER COLUMN id SET DEFAULT nextval('public.order_type_master_id_seq'::regclass);


--
-- Name: _hyper_7_10_chunk 10_10_sla_events_pkey; Type: CONSTRAINT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_7_10_chunk
    ADD CONSTRAINT "10_10_sla_events_pkey" PRIMARY KEY (id, detected_date);


--
-- Name: _hyper_4_11_chunk 11_11_orders_pkey; Type: CONSTRAINT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_4_11_chunk
    ADD CONSTRAINT "11_11_orders_pkey" PRIMARY KEY (order_id, created_date);


--
-- Name: _hyper_5_12_chunk 12_12_order_lines_pkey; Type: CONSTRAINT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_5_12_chunk
    ADD CONSTRAINT "12_12_order_lines_pkey" PRIMARY KEY (id, event_date);


--
-- Name: _hyper_6_13_chunk 13_13_order_status_history_pkey; Type: CONSTRAINT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_6_13_chunk
    ADD CONSTRAINT "13_13_order_status_history_pkey" PRIMARY KEY (id, entered_date);


--
-- Name: _hyper_7_14_chunk 14_14_sla_events_pkey; Type: CONSTRAINT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_7_14_chunk
    ADD CONSTRAINT "14_14_sla_events_pkey" PRIMARY KEY (id, detected_date);


--
-- Name: _hyper_5_15_chunk 15_15_order_lines_pkey; Type: CONSTRAINT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_5_15_chunk
    ADD CONSTRAINT "15_15_order_lines_pkey" PRIMARY KEY (id, event_date);


--
-- Name: _hyper_4_16_chunk 16_16_orders_pkey; Type: CONSTRAINT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_4_16_chunk
    ADD CONSTRAINT "16_16_orders_pkey" PRIMARY KEY (order_id, created_date);


--
-- Name: _hyper_5_17_chunk 17_17_order_lines_pkey; Type: CONSTRAINT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_5_17_chunk
    ADD CONSTRAINT "17_17_order_lines_pkey" PRIMARY KEY (id, event_date);


--
-- Name: _hyper_4_1_chunk 1_1_orders_pkey; Type: CONSTRAINT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_4_1_chunk
    ADD CONSTRAINT "1_1_orders_pkey" PRIMARY KEY (order_id, created_date);


--
-- Name: _hyper_5_2_chunk 2_2_order_lines_pkey; Type: CONSTRAINT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_5_2_chunk
    ADD CONSTRAINT "2_2_order_lines_pkey" PRIMARY KEY (id, event_date);


--
-- Name: _hyper_6_3_chunk 3_3_order_status_history_pkey; Type: CONSTRAINT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_6_3_chunk
    ADD CONSTRAINT "3_3_order_status_history_pkey" PRIMARY KEY (id, entered_date);


--
-- Name: _hyper_7_4_chunk 4_4_sla_events_pkey; Type: CONSTRAINT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_7_4_chunk
    ADD CONSTRAINT "4_4_sla_events_pkey" PRIMARY KEY (id, detected_date);


--
-- Name: _hyper_5_5_chunk 5_5_order_lines_pkey; Type: CONSTRAINT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_5_5_chunk
    ADD CONSTRAINT "5_5_order_lines_pkey" PRIMARY KEY (id, event_date);


--
-- Name: _hyper_7_6_chunk 6_6_sla_events_pkey; Type: CONSTRAINT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_7_6_chunk
    ADD CONSTRAINT "6_6_sla_events_pkey" PRIMARY KEY (id, detected_date);


--
-- Name: _hyper_6_7_chunk 7_7_order_status_history_pkey; Type: CONSTRAINT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_6_7_chunk
    ADD CONSTRAINT "7_7_order_status_history_pkey" PRIMARY KEY (id, entered_date);


--
-- Name: _hyper_4_8_chunk 8_8_orders_pkey; Type: CONSTRAINT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_4_8_chunk
    ADD CONSTRAINT "8_8_orders_pkey" PRIMARY KEY (order_id, created_date);


--
-- Name: _hyper_6_9_chunk 9_9_order_status_history_pkey; Type: CONSTRAINT; Schema: _timescaledb_internal; Owner: -
--

ALTER TABLE ONLY _timescaledb_internal._hyper_6_9_chunk
    ADD CONSTRAINT "9_9_order_status_history_pkey" PRIMARY KEY (id, entered_date);


--
-- Name: location_master location_master_location_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.location_master
    ADD CONSTRAINT location_master_location_code_key UNIQUE (location_code);


--
-- Name: location_master location_master_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.location_master
    ADD CONSTRAINT location_master_pkey PRIMARY KEY (location_id);


--
-- Name: order_lines order_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_lines
    ADD CONSTRAINT order_lines_pkey PRIMARY KEY (id, event_date);


--
-- Name: order_status_history order_status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_status_history
    ADD CONSTRAINT order_status_history_pkey PRIMARY KEY (id, entered_date);


--
-- Name: order_type_master order_type_master_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_type_master
    ADD CONSTRAINT order_type_master_name_key UNIQUE (name);


--
-- Name: order_type_master order_type_master_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_type_master
    ADD CONSTRAINT order_type_master_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (order_id, created_date);


--
-- Name: sla_config sla_config_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sla_config
    ADD CONSTRAINT sla_config_pkey PRIMARY KEY (order_type);


--
-- Name: sla_events sla_events_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sla_events
    ADD CONSTRAINT sla_events_pkey PRIMARY KEY (id, detected_date);


--
-- Name: _hyper_4_11_chunk_idx_orders_order_type_id; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_4_11_chunk_idx_orders_order_type_id ON _timescaledb_internal._hyper_4_11_chunk USING btree (order_type_id);


--
-- Name: _hyper_4_11_chunk_orders_created_date_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_4_11_chunk_orders_created_date_idx ON _timescaledb_internal._hyper_4_11_chunk USING btree (created_date DESC);


--
-- Name: _hyper_4_16_chunk_idx_orders_order_type_id; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_4_16_chunk_idx_orders_order_type_id ON _timescaledb_internal._hyper_4_16_chunk USING btree (order_type_id);


--
-- Name: _hyper_4_16_chunk_orders_created_date_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_4_16_chunk_orders_created_date_idx ON _timescaledb_internal._hyper_4_16_chunk USING btree (created_date DESC);


--
-- Name: _hyper_4_1_chunk_idx_orders_order_type_id; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_4_1_chunk_idx_orders_order_type_id ON _timescaledb_internal._hyper_4_1_chunk USING btree (order_type_id);


--
-- Name: _hyper_4_1_chunk_orders_created_date_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_4_1_chunk_orders_created_date_idx ON _timescaledb_internal._hyper_4_1_chunk USING btree (created_date DESC);


--
-- Name: _hyper_4_8_chunk_idx_orders_order_type_id; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_4_8_chunk_idx_orders_order_type_id ON _timescaledb_internal._hyper_4_8_chunk USING btree (order_type_id);


--
-- Name: _hyper_4_8_chunk_orders_created_date_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_4_8_chunk_orders_created_date_idx ON _timescaledb_internal._hyper_4_8_chunk USING btree (created_date DESC);


--
-- Name: _hyper_5_12_chunk_idx_order_lines_order_type_id; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_5_12_chunk_idx_order_lines_order_type_id ON _timescaledb_internal._hyper_5_12_chunk USING btree (order_type_id);


--
-- Name: _hyper_5_12_chunk_order_lines_event_date_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_5_12_chunk_order_lines_event_date_idx ON _timescaledb_internal._hyper_5_12_chunk USING btree (event_date DESC);


--
-- Name: _hyper_5_15_chunk_idx_order_lines_order_type_id; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_5_15_chunk_idx_order_lines_order_type_id ON _timescaledb_internal._hyper_5_15_chunk USING btree (order_type_id);


--
-- Name: _hyper_5_15_chunk_order_lines_event_date_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_5_15_chunk_order_lines_event_date_idx ON _timescaledb_internal._hyper_5_15_chunk USING btree (event_date DESC);


--
-- Name: _hyper_5_17_chunk_idx_order_lines_order_type_id; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_5_17_chunk_idx_order_lines_order_type_id ON _timescaledb_internal._hyper_5_17_chunk USING btree (order_type_id);


--
-- Name: _hyper_5_17_chunk_order_lines_event_date_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_5_17_chunk_order_lines_event_date_idx ON _timescaledb_internal._hyper_5_17_chunk USING btree (event_date DESC);


--
-- Name: _hyper_5_2_chunk_idx_order_lines_order_type_id; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_5_2_chunk_idx_order_lines_order_type_id ON _timescaledb_internal._hyper_5_2_chunk USING btree (order_type_id);


--
-- Name: _hyper_5_2_chunk_order_lines_event_date_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_5_2_chunk_order_lines_event_date_idx ON _timescaledb_internal._hyper_5_2_chunk USING btree (event_date DESC);


--
-- Name: _hyper_5_5_chunk_idx_order_lines_order_type_id; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_5_5_chunk_idx_order_lines_order_type_id ON _timescaledb_internal._hyper_5_5_chunk USING btree (order_type_id);


--
-- Name: _hyper_5_5_chunk_order_lines_event_date_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_5_5_chunk_order_lines_event_date_idx ON _timescaledb_internal._hyper_5_5_chunk USING btree (event_date DESC);


--
-- Name: _hyper_6_13_chunk_idx_status_history_order_type; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_6_13_chunk_idx_status_history_order_type ON _timescaledb_internal._hyper_6_13_chunk USING btree (order_type_id, entered_date DESC);


--
-- Name: _hyper_6_13_chunk_idx_status_history_type_sla; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_6_13_chunk_idx_status_history_type_sla ON _timescaledb_internal._hyper_6_13_chunk USING btree (order_type_id, status, sla_met, entered_date DESC);


--
-- Name: _hyper_6_13_chunk_idx_status_history_type_status_date; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_6_13_chunk_idx_status_history_type_status_date ON _timescaledb_internal._hyper_6_13_chunk USING btree (order_type_id, status, entered_date DESC);


--
-- Name: _hyper_6_13_chunk_order_status_history_entered_date_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_6_13_chunk_order_status_history_entered_date_idx ON _timescaledb_internal._hyper_6_13_chunk USING btree (entered_date DESC);


--
-- Name: _hyper_6_3_chunk_idx_status_history_order_type; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_6_3_chunk_idx_status_history_order_type ON _timescaledb_internal._hyper_6_3_chunk USING btree (order_type_id, entered_date DESC);


--
-- Name: _hyper_6_3_chunk_idx_status_history_type_sla; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_6_3_chunk_idx_status_history_type_sla ON _timescaledb_internal._hyper_6_3_chunk USING btree (order_type_id, status, sla_met, entered_date DESC);


--
-- Name: _hyper_6_3_chunk_idx_status_history_type_status_date; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_6_3_chunk_idx_status_history_type_status_date ON _timescaledb_internal._hyper_6_3_chunk USING btree (order_type_id, status, entered_date DESC);


--
-- Name: _hyper_6_3_chunk_order_status_history_entered_date_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_6_3_chunk_order_status_history_entered_date_idx ON _timescaledb_internal._hyper_6_3_chunk USING btree (entered_date DESC);


--
-- Name: _hyper_6_7_chunk_idx_status_history_order_type; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_6_7_chunk_idx_status_history_order_type ON _timescaledb_internal._hyper_6_7_chunk USING btree (order_type_id, entered_date DESC);


--
-- Name: _hyper_6_7_chunk_idx_status_history_type_sla; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_6_7_chunk_idx_status_history_type_sla ON _timescaledb_internal._hyper_6_7_chunk USING btree (order_type_id, status, sla_met, entered_date DESC);


--
-- Name: _hyper_6_7_chunk_idx_status_history_type_status_date; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_6_7_chunk_idx_status_history_type_status_date ON _timescaledb_internal._hyper_6_7_chunk USING btree (order_type_id, status, entered_date DESC);


--
-- Name: _hyper_6_7_chunk_order_status_history_entered_date_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_6_7_chunk_order_status_history_entered_date_idx ON _timescaledb_internal._hyper_6_7_chunk USING btree (entered_date DESC);


--
-- Name: _hyper_6_9_chunk_idx_status_history_order_type; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_6_9_chunk_idx_status_history_order_type ON _timescaledb_internal._hyper_6_9_chunk USING btree (order_type_id, entered_date DESC);


--
-- Name: _hyper_6_9_chunk_idx_status_history_type_sla; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_6_9_chunk_idx_status_history_type_sla ON _timescaledb_internal._hyper_6_9_chunk USING btree (order_type_id, status, sla_met, entered_date DESC);


--
-- Name: _hyper_6_9_chunk_idx_status_history_type_status_date; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_6_9_chunk_idx_status_history_type_status_date ON _timescaledb_internal._hyper_6_9_chunk USING btree (order_type_id, status, entered_date DESC);


--
-- Name: _hyper_6_9_chunk_order_status_history_entered_date_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_6_9_chunk_order_status_history_entered_date_idx ON _timescaledb_internal._hyper_6_9_chunk USING btree (entered_date DESC);


--
-- Name: _hyper_7_10_chunk_sla_events_detected_date_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_7_10_chunk_sla_events_detected_date_idx ON _timescaledb_internal._hyper_7_10_chunk USING btree (detected_date DESC);


--
-- Name: _hyper_7_14_chunk_sla_events_detected_date_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_7_14_chunk_sla_events_detected_date_idx ON _timescaledb_internal._hyper_7_14_chunk USING btree (detected_date DESC);


--
-- Name: _hyper_7_4_chunk_sla_events_detected_date_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_7_4_chunk_sla_events_detected_date_idx ON _timescaledb_internal._hyper_7_4_chunk USING btree (detected_date DESC);


--
-- Name: _hyper_7_6_chunk_sla_events_detected_date_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_7_6_chunk_sla_events_detected_date_idx ON _timescaledb_internal._hyper_7_6_chunk USING btree (detected_date DESC);


--
-- Name: _hyper_8_18_chunk__materialized_hypertable_8_bucket_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_8_18_chunk__materialized_hypertable_8_bucket_idx ON _timescaledb_internal._hyper_8_18_chunk USING btree (bucket DESC);


--
-- Name: _hyper_8_18_chunk__materialized_hypertable_8_order_type_id_buck; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_8_18_chunk__materialized_hypertable_8_order_type_id_buck ON _timescaledb_internal._hyper_8_18_chunk USING btree (order_type_id, bucket DESC);


--
-- Name: _hyper_8_18_chunk__materialized_hypertable_8_sla_status_bucket_; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_8_18_chunk__materialized_hypertable_8_sla_status_bucket_ ON _timescaledb_internal._hyper_8_18_chunk USING btree (sla_status, bucket DESC);


--
-- Name: _hyper_8_18_chunk__materialized_hypertable_8_status_bucket_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_8_18_chunk__materialized_hypertable_8_status_bucket_idx ON _timescaledb_internal._hyper_8_18_chunk USING btree (status, bucket DESC);


--
-- Name: _hyper_9_19_chunk__materialized_hypertable_9_hour_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_9_19_chunk__materialized_hypertable_9_hour_idx ON _timescaledb_internal._hyper_9_19_chunk USING btree (hour DESC);


--
-- Name: _hyper_9_19_chunk__materialized_hypertable_9_order_type_id_hour; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_9_19_chunk__materialized_hypertable_9_order_type_id_hour ON _timescaledb_internal._hyper_9_19_chunk USING btree (order_type_id, hour DESC);


--
-- Name: _hyper_9_19_chunk__materialized_hypertable_9_sla_status_hour_id; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_9_19_chunk__materialized_hypertable_9_sla_status_hour_id ON _timescaledb_internal._hyper_9_19_chunk USING btree (sla_status, hour DESC);


--
-- Name: _hyper_9_19_chunk__materialized_hypertable_9_status_hour_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _hyper_9_19_chunk__materialized_hypertable_9_status_hour_idx ON _timescaledb_internal._hyper_9_19_chunk USING btree (status, hour DESC);


--
-- Name: _materialized_hypertable_8_bucket_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _materialized_hypertable_8_bucket_idx ON _timescaledb_internal._materialized_hypertable_8 USING btree (bucket DESC);


--
-- Name: _materialized_hypertable_8_order_type_id_bucket_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _materialized_hypertable_8_order_type_id_bucket_idx ON _timescaledb_internal._materialized_hypertable_8 USING btree (order_type_id, bucket DESC);


--
-- Name: _materialized_hypertable_8_sla_status_bucket_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _materialized_hypertable_8_sla_status_bucket_idx ON _timescaledb_internal._materialized_hypertable_8 USING btree (sla_status, bucket DESC);


--
-- Name: _materialized_hypertable_8_status_bucket_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _materialized_hypertable_8_status_bucket_idx ON _timescaledb_internal._materialized_hypertable_8 USING btree (status, bucket DESC);


--
-- Name: _materialized_hypertable_9_hour_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _materialized_hypertable_9_hour_idx ON _timescaledb_internal._materialized_hypertable_9 USING btree (hour DESC);


--
-- Name: _materialized_hypertable_9_order_type_id_hour_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _materialized_hypertable_9_order_type_id_hour_idx ON _timescaledb_internal._materialized_hypertable_9 USING btree (order_type_id, hour DESC);


--
-- Name: _materialized_hypertable_9_sla_status_hour_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _materialized_hypertable_9_sla_status_hour_idx ON _timescaledb_internal._materialized_hypertable_9 USING btree (sla_status, hour DESC);


--
-- Name: _materialized_hypertable_9_status_hour_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: -
--

CREATE INDEX _materialized_hypertable_9_status_hour_idx ON _timescaledb_internal._materialized_hypertable_9 USING btree (status, hour DESC);


--
-- Name: idx_current_sla_summary_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_current_sla_summary_unique ON public.current_sla_summary USING btree (order_type, status, sla_status);


--
-- Name: idx_delayed_orders_entered_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_delayed_orders_entered_date ON public.delayed_orders_detail USING btree (entered_date DESC);


--
-- Name: idx_delayed_orders_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_delayed_orders_status ON public.delayed_orders_detail USING btree (status, priority);


--
-- Name: idx_delayed_orders_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_delayed_orders_type ON public.delayed_orders_detail USING btree (order_type, status);


--
-- Name: idx_delayed_orders_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_delayed_orders_unique ON public.delayed_orders_detail USING btree (id);


--
-- Name: idx_order_lines_event_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_order_lines_event_date ON public.order_lines USING btree (event_date DESC);


--
-- Name: idx_order_lines_order_type_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_order_lines_order_type_id ON public.order_lines USING btree (order_type_id);


--
-- Name: idx_orders_created_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_orders_created_date ON public.orders USING btree (created_date DESC);


--
-- Name: idx_orders_order_type_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_orders_order_type_id ON public.orders USING btree (order_type_id);


--
-- Name: idx_sla_config_rules_gin; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sla_config_rules_gin ON public.sla_config USING gin (rules);


--
-- Name: idx_sla_events_detected_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sla_events_detected_date ON public.sla_events USING btree (detected_date DESC);


--
-- Name: idx_status_history_entered_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_status_history_entered_date ON public.order_status_history USING btree (entered_date DESC);


--
-- Name: idx_status_history_order_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_status_history_order_type ON public.order_status_history USING btree (order_type_id, entered_date DESC);


--
-- Name: idx_status_history_type_sla; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_status_history_type_sla ON public.order_status_history USING btree (order_type_id, status, sla_met, entered_date DESC);


--
-- Name: idx_status_history_type_status_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_status_history_type_status_date ON public.order_status_history USING btree (order_type_id, status, entered_date DESC);


--
-- Name: order_lines_event_date_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX order_lines_event_date_idx ON public.order_lines USING btree (event_date DESC);


--
-- Name: order_status_history_entered_date_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX order_status_history_entered_date_idx ON public.order_status_history USING btree (entered_date DESC);


--
-- Name: orders_created_date_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX orders_created_date_idx ON public.orders USING btree (created_date DESC);


--
-- Name: sla_events_detected_date_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX sla_events_detected_date_idx ON public.sla_events USING btree (detected_date DESC);


--
-- Name: _hyper_5_12_chunk trg_set_event_date; Type: TRIGGER; Schema: _timescaledb_internal; Owner: -
--

CREATE TRIGGER trg_set_event_date BEFORE INSERT OR UPDATE ON _timescaledb_internal._hyper_5_12_chunk FOR EACH ROW EXECUTE FUNCTION public.set_event_date();


--
-- Name: _hyper_5_15_chunk trg_set_event_date; Type: TRIGGER; Schema: _timescaledb_internal; Owner: -
--

CREATE TRIGGER trg_set_event_date BEFORE INSERT OR UPDATE ON _timescaledb_internal._hyper_5_15_chunk FOR EACH ROW EXECUTE FUNCTION public.set_event_date();


--
-- Name: _hyper_5_17_chunk trg_set_event_date; Type: TRIGGER; Schema: _timescaledb_internal; Owner: -
--

CREATE TRIGGER trg_set_event_date BEFORE INSERT OR UPDATE ON _timescaledb_internal._hyper_5_17_chunk FOR EACH ROW EXECUTE FUNCTION public.set_event_date();


--
-- Name: _hyper_5_2_chunk trg_set_event_date; Type: TRIGGER; Schema: _timescaledb_internal; Owner: -
--

CREATE TRIGGER trg_set_event_date BEFORE INSERT OR UPDATE ON _timescaledb_internal._hyper_5_2_chunk FOR EACH ROW EXECUTE FUNCTION public.set_event_date();


--
-- Name: _hyper_5_5_chunk trg_set_event_date; Type: TRIGGER; Schema: _timescaledb_internal; Owner: -
--

CREATE TRIGGER trg_set_event_date BEFORE INSERT OR UPDATE ON _timescaledb_internal._hyper_5_5_chunk FOR EACH ROW EXECUTE FUNCTION public.set_event_date();


--
-- Name: order_lines trg_set_event_date; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_set_event_date BEFORE INSERT OR UPDATE ON public.order_lines FOR EACH ROW EXECUTE FUNCTION public.set_event_date();


--
-- PostgreSQL database dump complete
--

